<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>About</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/about.css">
        <!-- <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet"> -->
    </head>
    <body>
        <h1>About the Artist</h1>

        <h2>Bianca Jade is a rising RnB singer from Miami, FL and has recently released an EP, Jade Vol. 1. The artist has recently 
            moved to New York City to pursue her career in music and spread a message of self-love and empowerment.
        </h2>
        <div>
        <button>
            <a href="/home">Go back home</a>
        </button>
        <button>
            <a href="/works">Artist's Work</a>
        </button>
    </div>
    </body>
</html>