<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Works</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/works.css" />
    </head>
    <body>
        <h1>Stream Bianca Jade</h1>
        <button>
            <a href="https://tidal.com/browse/artist/5917541">Tidal</a>
        </button>
        <button>
            <a href="https://open.spotify.com/artist/6oxkpxNchI8sfwoz3zc076?si=TW9SlIUjQ-O9xuigHXzwug">Spotify</a>
        </button>
        <button>
            <a href="https://music.apple.com/us/artist/bianca-jade/1232320542">Apple Music</a>
        </button>
        <button>
            <a href="https://soundcloud.com/biancajademusic">Soundcloud</a>
        </button>
        <button>
            <a href="https://www.youtube.com/user/BiancaJadeSings">YouTube</a>
        </button>

    </body>
</html>